/* Global
============================================================================*/
.ios-ipad-landscape, ios-ipad-landscape, .ios-iphone-landscape, .ios-iphone-portrait {
	font-family: "Helvetica", Sans-serif;
}
/* Containers
============================================================================*/
.ios-ipad-portrait {
	height: 1024px; 
	width: 768px;	
	border: 1px solid #000;
}
.ios-ipad-landscape {
	width: 1024px; 
	height: 768px;
	border: 1px solid #000;
}
.ios-iphone-landscape {
	width: 480px;
	height: 320px;
	border: 1px solid #000;
}
.ios-iphone-portrait {
	width: 320px;
	height: 480px;
	border: 1px solid #000;
}
/* Layout
============================================================================*/
.ios-sidebar {
	width: 320px;
	border-right: 1px solid #000;
	float: left;
}
.ios-detail {
	margin-left: 320px;
}
.ios-row {
	font-weight: bold;
	line-height: 42px;
	height: 43px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #000;
}
/* Details
============================================================================*/
.ios-label {
	font-size: 20px;
	vertical-align: middle;
	display: inline-block;
}
.ios-button {
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	height: 26px;
	line-height: 24px;
	margin: 8px;
	border: 1px solid #000;
	padding: 0px 8px;
}